{% load static %}

<html>
    <head>
        <title>Mini fb!</title>
        <!-- not the best style sheet. I am just reusing the one I already have. -->
        <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
    </head>
    <body>
        <nav class="header">
            <a href="{% url 'show_all_profiles' %}">Show All Profiles</a>
            <a href="{% url 'create_profile' %}">Create Profile</a>
        </nav>
        {% block content %}
        <!-- our interesting stuff here! -->
        {% endblock %}
        <br>
        <hr>
        <p class="copyright">Designed by <br>Lin Khant Ko</p>
    </body>
</html>