<!-- mini_fb/templates/mini_fb/login.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form }}

    <!-- only do this if we don't have next attrible already -->
    {% if not next %}
        <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
    {% else %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
        <input type="submit" value="Login">

</form>
{% endblock %}