<!-- Create the template file show_profile.html, which inherits from base.html. This template will render a profile page for one user (i.e., a single Profile record). -->

{% extends "mini_fb/base.html" %}

{% block content %}
    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
    <br>
    <div class="container">
        <div class="child">
            
            <br>
            <img src="{{ profile.image_url }}" alt="{{ profile.image_url }}">
            <br>
            <br>
            <h3> {{ profile.city }}</h3>
            
            <p>
                {{ profile.email }}
            </p>

            <p>
                <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
            <hr>
            <h3>Status Messages</h3>
            <p><a href="{% url 'create_status' profile.pk %}">add a status message</a></p>
            {% if profile.get_status_messages %}
                {% for status in profile.get_status_messages %}
                    <p>
                        {{ status.message }} at {{ status.timestamp }}
                    </p>

                    <!-- Display all images for this status message -->
                    {% for img in status.get_images %}
                        <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                    {% endfor %}
                    <!-- DELETE button -->
                    <p><a href="{% url 'delete_status' status.pk %}">Delete</a></p>
                {% endfor %}
                
            {% else %}
            
                <p>No status messages</p>
            {% endif %}


        </div>
    </div>

{% endblock %}