{% load static %}

<html>
    <head>
        <title>Our Blog</title>
        <!-- not the best style sheet. I am just reusing the one I already have. -->
        <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'show_all_articles' %}">Show All Articles</a>
            <a href="{% url 'random' %}">Random</a>
            <a href="{% url 'create_article' %}">Create Article</a>

            <p>
                Logged in user: {{ request.user }}
            </p>
        </nav>
        {% block content %}
        <!-- our interesting stuff here! -->
        {% endblock %}
    </body>
</html>