{% load static %}

<html>
    <head>
        <title>Our Blog</title>
        <!-- not the best style sheet. I am just reusing the one I already have. -->
        <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
    </head>
    <body>
        <nav>
            <!-- URLs that don't depend on authentication -->
            <a href="{% url 'show_all_articles' %}">Show All Articles</a>
            <a href="{% url 'random' %}">Random</a>

            <!-- URLs that depend on authentication -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'create_article' %}">Create Article</a>

                <!-- want to fix 405 error at logout -->
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>

            {% else %}
                <!-- Login URL -->
                <a href="{% url 'login' %}">Login</a>
            {% endif %}

            <p>
                {% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}
                {% else %}
                    Not logged in
                {% endif %}
            </p>
        </nav>
        {% block content %}
        <!-- our interesting stuff here! -->
        {% endblock %}
    </body>
</html>