<!-- blog/templates/blog/create_comment_form.html -->

{% extends 'blog/base.html' %}

{% block content %}

<h2>Add a comment to {{ article.title }}</h2>

<form method="POST">
    <!-- display the form (context variable) -->
    <!-- {{ form }} -->
    <table>
        {{ form.as_table }}
    

    <tr>
        <td></td>
        <td>
            <!-- submit button -->
            <input type="submit" name="Create Comment">
            {% csrf_token %}
        </form>
        <!-- NOTE: this is a separate form! -->
        <form action="{% url 'article' article.pk %}">
            <input type="submit" name="Cancel" value="Cancel">
        </form>
        </td>
    </tr>
    
    </table>
    


{% endblock %}