<!-- blog/templates/blog/show_all.html -->
{% extends "blog/base.html" %}

{% block content %}
<h1>Showing all Articles!</h1>

<!-- print out the context variable called articles. -->
<!-- {{ articles }} -->

<div>
    {% for a in articles %}
    <div>
        
        <h2>{{ a.title }}</h2>

        <!-- use object instance.pk -->
        <a href="{% url 'article' a.pk %}"> 
            <img src="{{ a.image_url }}" alt="{{ a.image_url }}">
        </a>
        <h3>by {{ a.author }} at {{ a.published }}</h3>
        
        <p>
            {{ a.text }}
        </p>
    </div>
    {% endfor %}
</div>

{% endblock %}