/* this is the start of my css stylesheet. I am going for a more chill and simple look, but I included all the required styles. xD */

body {
    background-color: beige;
    color: rgb(57, 57, 57);
}

div {
    /* border: .5px solid black; */
    padding: 20px;
    align-items: center;
    margin: 30px;
}

h1 {
    /* I am doing -10 margin here because I wanted it to closer to the top.
    I am not sure if there is a better way to do this. */
    margin-top: -10px;
    font-size: 10em;
    text-align: center;
    padding: 0px;
}

h2 {
    font-size: 1.2em;
}

p {
    font-size: 1.5em;
}

/* table {
    align-items: left;
} */

.profile {
    /* also doing negative margin here. */
    margin-top: -150px;
}

.profilepic {
    /* padding: 20px; */
    background-color: rgb(176, 173, 171);
    border: 1px solid black;
}

td {
    padding: 50px;
    align-items: center;
}

img {
    width: 400px;
    height: 400px;
}

/* my activity photoes */
.activityphoto {
    width: 300px;
    height: 300px;
}

/* bio */
.bio {
    border: 1px solid black;
}

a {
    color: maroon;
    font-size: 1em;
}

/* for all the table headers */
th {
    border: 1px solid black;
    font-size: 1.3em;
}