body {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 
        2px 2px 0px black,   
        -2px 2px 0px black,  
        2px -2px 0px black, 
        -2px -2px 0px black; 
}

.time {
    font-size: .85em;
}