<!-- restaurant/templates/restaurant/main.html file -->

{% extends 'restaurant/base.html' %}

{% block content %}
    <h1>WELCOME TO OUR RESTAURANT!</h1>
    <br>
    <br>
    <img src="{{image}}" alt="restaurant">
    <p>Welcome to Linny's. We serve the best food in the city!</p>

    <!-- name, location and hours of operation -->
    <div class="reciept">
    
        <h2>Linny's</h2>
        <p>700 Commonwealth Avenue,<br> Boston, MA 02215
            <br>
            <br>
        <br> <strong>Hours:</strong>
        <br>
        <br>Monday - Friday: <br>11:00 AM - 11:00 PM
        <br>
        <br>Saturday: <br>11:00 AM - 10:00 PM
        <br>
        <br>Sunday: <br>Closed</p>
        <br>
    </div>
{% endblock %}