<!-- this is the show_all page -->

{% extends "quotes/base.html" %}

{% block content %}

    <!-- Display the quotes -->
    <div>
        <h1>Quotes:</h1>
        <ol>
            {% for quote in quotes %}
                <li>{{ quote }}</li>
            {% endfor %}
        </ol>
    </div>
    

    <!-- Display the images -->
    <div>
        <h1>Images</h1>
    </div>
    
    <div class="images">
        
        <ul>
            {% for image in images %}
                    <img src="{{ image }}" alt="Taylor Swift">
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}